body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/img-1.jpg'); /* Replace with your background image */
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center;
    background-attachment: fixed; /* Keep the background fixed on scroll */
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
}

.box {
    flex: 1;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 10px;
    margin: 0 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.current-song {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    border-right: 1px solid #ddd;
}

.playlist {
    background-color: rgba(240, 240, 240, 0.8);
}

h2 {
    margin-top: 0;
    text-align: center; /* Center the text */
}

audio {
    margin: 20px 0;
    width: 100%;
    max-width: 300px; /* Set a max-width for the audio player */
}

.controls {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 300px;  /* Align controls with the audio player */
    margin-top: 10px;
    /* align-items: center; */
}

button {
    padding: 10px 15px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #555;
}

#song-list {
    list-style: none;
    padding: 0;
}

.song-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.song-item:hover {
    background-color: #eee;
}

.song-item.active {
    background-color: #ddd;
    font-weight: bold;
}


/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack the boxes vertically */
        align-items: center;
        width: 90%;
    }
    
    .box {
        margin: 10px 0; /* Space between the boxes */
        width: 100%; /* Full width on smaller screens */
    }
}
